[Unit]
Description=move86go service
After=network.target
After=syslog.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/move86go
ExecStart=/opt/move86go/move86go service
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
RestartSec=5
LimitNOFILE=65535
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=true
PrivateTmp=false

[Install]
WantedBy=multi-user.target

